container_commands:
    01_migrate:
        command:'django-admin.py migrate'
        leader_only:true
    02_createsuperuser:
        command:"echo \"from accounts.models import account; account.objects.create_superuser(first_name='mohamed',last_name='mashaly',email='first_man@windowslive.com', username='first_man',password='14031981Moh')\" | python manage.py
        leader_only:true
option_setting:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: Cart.settings
